/********** Template CSS **********/
:root {
  --primary: #ffd041;
  --secondary: #846026;
  --light: #f2f2f2;
  --dark: #1d2833;
  --light-red: #cb4154;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
.footer-logo {
  width: 150px;
}
.call {
  position: fixed;
  right: 20px;
  top: 70%;
  background-color: #cb4154;
  z-index: 999;
  padding: 0.6rem;
  border-radius: 50%;
}

.whatsapp {
  position: fixed;
  right: 0;
  top: 20%;
  background-color: #ffd041;
  z-index: 999;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.whatsapp a .vertical {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: 15px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-inline: 10px;
  color: white;
}

.whatsapp a {
  transform: rotate(360deg);
  width: 100%;
  height: 100%;
}

.call i {
  font-size: 2rem;
  color: var(--primary);
}
.footer-logo img {
  width: 100%;
}
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Heading ***/
h1,
h2,
.fw-bold {
  font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
  font-weight: 500 !important;
}

/*** Button ***/
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 8px;
}

/*** Navbar ***/
.navbar-light {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-light .navbar-brand h1 {
  color: #ffffff;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;
    background: #ffffff;
  }

  .navbar-light .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #dddddd;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
    color: var(--dark) !important;
  }

  .navbar-light .navbar-brand h1 {
    color: var(--primary);
  }

  .navbar-light .navbar-brand img {
    max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .sticky-top.navbar-light {
    position: fixed;
    background: #ffffff;
  }

  .sticky-top.navbar-light .navbar-brand h1 {
    color: var(--primary);
  }
}
.hero-header {
  background: url(/img/hero-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*** Hero Header ***/
.hero-header1 {
  background: url(/img/mango\ farm\ mango\ 123.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100% !important;
  /* background: url(../img/bg-round.png), url(../img/bg-round-2.png),
    url(../img/bg-square.png), url(../img/bg-line.png),
    url(../img/bg-bottom-hero.png);
  background-position: 0px 40%, right 0 top 0, left 50% top 0, left 50% top 50%,
    center bottom -1px;
  background-repeat: no-repeat; */
}

.hero-header2 {
  background: url(/img/hero-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 100% !important;
}
@media (max-width: 992px) {
  .hero-header1 {
    height: 100% !important;
  }
  .hero-header2 {
    height: 100% !important;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

body > div > div.container-xxl.position-relative.p-0 > div > div > div.owl-nav {
  z-index: 999;
}
body
  > div
  > div.container-xxl.position-relative.p-0
  > div
  > div
  > div.owl-nav
  > div.owl-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f2f28a;
  border: 1px solid var(--primary);
  top: 50%;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}
body
  > div
  > div.container-xxl.position-relative.p-0
  > div
  > div
  > div.owl-nav
  > div.owl-next {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f2f2f28a;
  top: 50%;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  border: 1px solid var(--primary);
}
/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 11px;
  bottom: 0;
  left: 0;
  border-top: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 1px;
  bottom: 5px;
  left: 0;
  background: var(--primary);
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -30px;
}

.section-title.text-center::after {
  width: 120px;
  left: 50%;
  margin-left: -60px;
}

/*** Domain Search ***/
.domain {
  background: url(../img/bg-domain.png) center center no-repeat;
  background-size: contain;
}

/*** Comparison ***/
@media (min-width: 992px) {
  .comparison::after {
    position: absolute;
    content: "";
    width: 1px;
    top: 56px;
    bottom: 20px;
    left: 50%;
    background: #dddddd;
  }
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
  border-color: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item .position-absolute {
  background: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #ffffff;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
  color: var(--dark) !important;
}

.testimonial-carousel .owl-dots {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: #dddddd;
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  width: 30px;
  background: var(--primary);
}

/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
  transition: 0.5s;
}

.team-item:hover {
  border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
  background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
  color: var(--secondary) !important;
}

/*** Footer ***/
.footer {
  /* background: url(../img/bg-round.png), url(../img/bg-round-2.png),
    url(../img/bg-square.png), url(../img/bg-line.png),
    url(../img/bg-bottom-footer.png);
  background-position: 0px 112px, right 0 bottom 0, left 50% top 80px,
    left 50% bottom 0, top center;
  background-repeat: no-repeat; */
  background-color: #131d3b;
}

.footer p {
  font-size: 15px;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.3);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/*hero section css*/
.owl-carousel.hero-carousel .owl-stage {
  height: 100vh;
}

.owl-carousel.hero-carousel .owl-stage-outer {
  height: 100vh;
}

.hero-header2 .row {
  padding: 4rem;
}

.hero-header1 .row {
  padding: 4rem;
}

.hero-header1 .row .content,
.hero-header2 .row .content {
  padding-block: 9rem;
}

.hero-header2 .hero-img {
  padding-block: 1rem;
}

@media (max-width: 992px) {
  .hero-header2 .row {
    padding: 0.2rem !important;
  }

  .hero-header1 .row {
    padding: 0.2rem !important;
  }

  .hero-header1 .row .content,
  .hero-header2 .row .content {
    padding-block: 0.5rem !important;
  }

  .hero-header2 .hero-img {
    padding-block: 1rem;
  }
}

@keyframes mangotree {
  0% {
    transform: rotate(5deg) translateX(-15px) translateY(-10vh);
  }

  50% {
    transform: rotate(0deg) translateX(0px) translateY(-10vh);
  }

  100% {
    transform: rotate(-5deg) translateX(-15px) translateY(-10vh);
  }
}
/*mangos*/
.mangos {
  position: relative;
}

.mangos .mangooos {
  position: absolute;
  top: 30%;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}

.mangos .mangooos .mango {
  width: 50px;
}

.mangos .mangooos .mango1 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 1s infinite;
}

.mangos .mangooos .mango2 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 19s infinite;
}

.mangos .mangooos .mango3 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 11s infinite;
}

.mangos .mangooos .mango4 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 6s infinite;
}

.mangos .mangooos .mango5 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 9s infinite;
}

.mangos .mangooos .mango6 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 14s infinite;
}

.mangos .mangooos .mango7 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 3s infinite;
}

.mangos .mangooos .mango8 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 18s infinite;
}

.mangos .mangooos .mango9 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 15s infinite;
}

.mangos .mangooos .mango10 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 2s infinite;
}

.mangos .mangooos .mango11 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 7s infinite;
}

.mangos .mangooos .mango12 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 10s infinite;
}

.mangos .mangooos .mango13 img {
  width: 100%;
  opacity: 0.2;
  animation: mango 5s infinite;
}

@keyframes mango {
  0% {
    transform: translateY(0vh);
    opacity: 0.2;
  }

  10% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.5;
    transform: translateY(100vh);
  }
}
.business {
}

.business .col-lg-3 {
  padding: 0;
}

.business .col-lg-3 .clients span,
.business .col-lg-3 .clients h5 {
  color: white;
}

.business .col-lg-3:nth-child(1) .clients {
  background-color: #cb4154;
  padding: 3rem;

  text-align: center;
}

.business .col-lg-3:nth-child(2) .clients {
  background-color: white;
  padding: 3rem;

  text-align: center;
}

.business .col-lg-3:nth-child(2) .clients span,
.business .col-lg-3:nth-child(2) .clients h5 {
  color: #cb4154;
}

.business .col-lg-3:nth-child(3) .clients {
  background-color: var(--primary);
  padding: 3rem;

  text-align: center;
}

.business .col-lg-3:nth-child(4) .clients {
  background-color: #cb4154;
  padding: 3rem;

  text-align: center;
}
.read-more {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 12px 24px;
  color: white;
  background-color: #ffd041;
  border-color: #ffd041;
}

.read-more a {
  color: white;
}

.services img {
  width: 100%;
}
